<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Say No to Drugs</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">    

    <!-- SCRIPT START -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>     
    <!-- SCRIPT END -->
   
  </head>  

<script>
// OpenWeatherAPI Key f05d619022602f9bac43cc9febc0ba81  
  
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
    
});
  
$(document).ready(function(){

  $('#btnLogout').click(function() 
	{
    $.ajax(
			{
				url: "http://port-7788.Puk_kwanho-hosonpuk430951.codeanyapp.com/Logout", 
				type: 'POST',
				data: '',
				success: function(resultReturn)
				{ 
        // show logout result
          alert(resultReturn);
          location.reload();
				},error: function (xhr, textStatus, errorThrown) 
				{
				  alert("Logout error.");
					console.log(textStatus);
          alert(xhr.responseText);
      	}
			});
  });
});  
  
</script>


<body ng-app="myApp" ng-controller="myCtrl" id="page-top" style="background-color:black;">
 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Say No to Drugs</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/Search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/Info">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/Video">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/Game">Game</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/Login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/Favour">Favourlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/Signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#" id="btnLogout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>  
 <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div>

          <!-- MAIN CONTENT 1 START -->
          
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
 <div style="color:#eeeeaa; font-family:verdana; font-size:200%">
    Sign Up Form
  </div>
  <div id="myDiv">
    
  </div>
  <br/>
            <form name="signupform" action="/Signup" method="POST" novalidate>

    <table style="margin: auto;width: 40%;padding: 5px;border:1px;">
      <tr>
        <td style="height:80px;">Username</td>
        <td><input type="text" name="login" style="width:300px;" ng-model="login" required /></td>
        <td><img src="{{signupform.login.$valid}}.gif" style="width:20px;"/></td>
      </tr>
      <tr>
        <td style="height:80px;">Password</td>
        <td><input type="password" name="pass" style="width:300px;" ng-model="pass" required /></td>
        <td><img src="{{signupform.pass.$valid}}.gif" style="width:20px;"/></td>
      </tr>
      <tr>
        <td style="height:80px;">Re-type Password</td>
        <td><input type="password" name="repass" style="width:300px;" ng-model="repass" required /></td>
        <td><img src="{{signupform.repass.$valid && pass==repass}}.gif" style="width:20px;" /></td>
      </tr>
      <tr>
        <td style="height:80px;">Email</td>
        <td><input type="email" name="email" style="width:300px;" ng-model="email" required /></td>
        <td><img src="{{signupform.email.$valid}}.gif" style="width:20px;" /></td>
      </tr>      
    </table>
    <br/>
    <button type="submit" ng-disabled="((!signupform.$valid) || !(pass==repass))">Submit</button>    


            </form>
  <br/>
  <br/>
  <br/>
  <br/>          
  <br/>
  <br/>
  <br/>
  <br/>          
  <br/>
  <br/>        

          <!-- MAIN CONTENT 1 END -->
  

        </div>
      </div>
    </header>
 
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright" style="color:lightblue;">Copyright &copy; Puk Kwan Ho, Hoson 2018</span>
          </div>
          
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#" style="color:lightblue;">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#" style="color:lightblue;">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
  
  
 
  

  

</body>
</html>